* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  color: #555;
}

.container {
  max-width: 950px;
  margin: 0 auto;
  padding: 0.7rem 1.6rem;
}

::placeholder {
  color: green;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 500px) {
  header nav {
    flex-direction: column;
  }
}
header nav .logo {
  width: 5rem;
}
header nav .logo img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  transition: all 0.5s ease;
  transform-origin: 50% 50%;
}
@media (max-width: 500px) {
  header nav .logo img {
    pointer-events: none;
    transition: none;
  }
}
header nav .logo img:hover {
  transform: scale(1.4);
}
header nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 2rem;
}
@media (max-width: 500px) {
  header nav ul {
    flex-direction: column;
    pointer-events: none;
  }
}
header nav ul a {
  color: #555;
  text-decoration: none;
}
header nav ul a:hover {
  color: #72ccc4;
}

main .section-red {
  background-color: #ff6b6b;
  height: 50rem;
}
main .section-red .red-heading {
  padding-top: 12rem;
  width: 95%;
}
main .section-red .red-heading h1 {
  text-transform: uppercase;
  width: 100%;
  font-size: 3.2rem;
  text-align: center;
  font-weight: bold;
}
main .section-blue {
  background-color: #6741d9;
  height: 40rem;
}
@media (max-width: 1040px) {
  main .section-blue {
    height: 50rem;
  }
}
@media (max-width: 500px) {
  main .section-blue {
    height: 75rem;
  }
}
main .section-blue .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 5rem;
  padding-top: 5rem;
  color: white;
  text-transform: uppercase;
}
@media (max-width: 500px) {
  main .section-blue .grid {
    grid-template-columns: 1fr;
  }
}
main .section-blue .grid .grid-item {
  display: flex;
  gap: 5rem;
  align-items: center;
}
@media (max-width: 1040px) {
  main .section-blue .grid .grid-item {
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  main .section-blue .grid .grid-item {
    gap: 2rem;
  }
}
main .section-blue .grid .frame {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  background-color: #555;
  align-self: center;
  z-index: 2;
}
@media (max-width: 1040px) {
  main .section-blue .grid .frame {
    width: 10rem;
    height: 10rem;
  }
}
@media (max-width: 500px) {
  main .section-blue .grid .frame {
    width: 8rem;
    height: 8rem;
  }
}
main .section-blue .grid img {
  z-index: 3;
  padding: 2.2rem;
}
@media (max-width: 1040px) {
  main .section-blue .grid img {
    width: 10rem;
  }
}
@media (max-width: 500px) {
  main .section-blue .grid img {
    width: 8rem;
  }
}
main .section-contact {
  padding: 4rem;
}
main .section-contact .form {
  text-align: center;
}
main .section-contact .form h2 {
  text-transform: uppercase;
}
main .section-contact .form p {
  color: gray;
  margin-bottom: 1.4rem;
}
main .section-contact .form form {
  padding: 2rem;
  background-color: #d5d5d5;
}
main .section-contact .form form .box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: 1rem;
  row-gap: 1.4rem;
}
@media (max-width: 500px) {
  main .section-contact .form form .box {
    grid-template-columns: 1fr;
  }
}
main .section-contact .form form .box textarea {
  grid-column: 1/-1;
  grid-row: 2;
  height: 40%;
  resize: none;
  align-self: flex-start;
}
main .section-contact .form form .box input,
main .section-contact .form form .box textarea {
  padding: 1rem 1.4rem;
}

/*# sourceMappingURL=style.css.map */
